In [1]:
import pandas as pd
from datetime import datetime

import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres@localhost:5432/ohlc')

In [38]:
#10000 record test table
df = pd.read_sql_query("select * from test;", engine)

In [39]:
df = df.set_index(pd.DatetimeIndex(df['timestamp']))

In [40]:
df.head()

,symbol,open,high,low,close,timestamp,interval
timestamp,,,,,,,
2017-08-03 00:24:00,AUDJPY,87.826,87.826,87.824,87.824,2017-08-03 00:24:00,None
2017-08-03 00:25:00,AUDJPY,87.824,87.826,87.823,87.825,2017-08-03 00:25:00,None
2017-08-03 00:26:00,AUDJPY,87.825,87.831,87.825,87.829,2017-08-03 00:26:00,None
2017-08-03 00:27:00,AUDJPY,87.827,87.827,87.811,87.811,2017-08-03 00:27:00,None
2017-08-03 00:28:00,AUDJPY,87.811,87.812,87.784,87.786,2017-08-03 00:28:00,None

In [31]:
#5 MIN
five_min_summary = pd.DataFrame()

five_min_summary['open'] = df.groupby('symbol')["open"].resample("5T").first()
five_min_summary['high'] = df.groupby('symbol')["high"].resample("5T").max()
five_min_summary['low'] = df.groupby('symbol')["low"].resample("5T").min()
five_min_summary['close'] = df.groupby('symbol')["close"].resample("5T").last()

five_min_summary["interval"] = df.ix[4, 'interval'] = '5m'

# five_min_summary.head()
five_min_summary.to_sql('five_min_summary', engine, if_exists='replace')

In [34]:
#15 MIN
fifteen_min_summary = pd.DataFrame()

fifteen_min_summary['open'] = df.groupby('symbol')["open"].resample("15T").first()
fifteen_min_summary['high'] = df.groupby('symbol')["high"].resample("15T").max()
fifteen_min_summary['low'] = df.groupby('symbol')["low"].resample("15T").min()
fifteen_min_summary['close'] = df.groupby('symbol')["close"].resample("15T").last()

fifteen_min_summary["interval"] = df.ix[4, 'interval'] = '15m'

# fifteen_min_summary.head()
fifteen_min_summary.to_sql('fifteen_min_summary', engine, if_exists='replace')

                              open    high     low   close interval
symbol timestamp
AUDJPY 2017-07-25 13:00:00  88.703  88.708  88.694  88.704      15m
       2017-07-25 13:15:00  88.705  88.723  88.649  88.652      15m
       2017-07-25 13:30:00  88.652  88.692  88.634  88.680      15m
       2017-07-25 13:45:00  88.680  88.680  88.617  88.643      15m
       2017-07-25 14:00:00  88.644  88.685  88.637  88.678      15m

In [44]:
#1HR
hourly_summary = pd.DataFrame()

hourly_summary['open'] = df.groupby('symbol')["open"].resample("H").first()
hourly_summary['high'] = df.groupby('symbol')["high"].resample("H").max()
hourly_summary['low'] = df.groupby('symbol')["low"].resample("H").min()
hourly_summary['close'] = df.groupby('symbol')["close"].resample("H").last()

hourly_summary["interval"] = df.ix[4, 'interval'] = '1H'

# hourly_summary.head()
hourly_summary.to_sql('hourly_summary', engine, if_exists='replace')

In [42]:
#4HR
four_hour_summary = pd.DataFrame()

four_hour_summary['open'] = df.groupby('symbol')["open"].resample("4H").first().ffill()
four_hour_summary['high'] = df.groupby('symbol')["high"].resample("4H").max().ffill()
four_hour_summary['low'] = df.groupby('symbol')["low"].resample("4H").min().ffill()
four_hour_summary['close'] = df.groupby('symbol')["close"].resample("4H").last().ffill()

four_hour_summary["interval"] = df.ix[4, 'interval'] = '4H'

# four_hour_summary.head()
four_hour_summary.to_sql('four_hour_summary', engine, if_exists='replace')

In [43]:
#1D
daily_summary = pd.DataFrame()

daily_summary['open'] = df.groupby('symbol')["open"].resample("D").first().ffill()
daily_summary['high'] = df.groupby('symbol')["high"].resample("D").max().ffill()
daily_summary['low'] = df.groupby('symbol')["low"].resample("D").min().ffill()
daily_summary['close'] = df.groupby('symbol')["close"].resample("D").last().ffill()

daily_summary["interval"] = df.ix[4, 'interval'] = '1D'

# daily_summary.head()
daily_summary.to_sql('daily_summary', engine, if_exists='replace')

In [45]:
#1 Week
weekly_summary = pd.DataFrame()

weekly_summary['open'] = df.groupby('symbol')["open"].resample("W").first().ffill()
weekly_summary['high'] = df.groupby('symbol')["high"].resample("W").max().ffill()
weekly_summary['low'] = df.groupby('symbol')["low"].resample("W").min().ffill()
weekly_summary['close'] = df.groupby('symbol')["close"].resample("W").last().ffill()

weekly_summary["interval"] = df.ix[4, 'interval'] = '1W'

# weekly_summary.head()
weekly_summary.to_sql('weekly_summary', engine, if_exists='replace')

In [46]:
#1 Month
monthly_summary = pd.DataFrame()

monthly_summary['open'] = df.groupby('symbol')["open"].resample("M").first().ffill()
monthly_summary['high'] = df.groupby('symbol')["high"].resample("M").max().ffill()
monthly_summary['low'] = df.groupby('symbol')["low"].resample("M").min().ffill()
monthly_summary['close'] = df.groupby('symbol')["close"].resample("M").last().ffill()

monthly_summary["interval"] = df.ix[4, 'interval'] = '1M'

# monthly_summary.head()
monthly_summary.to_sql('monthly_summary', engine, if_exists='replace')

In [47]:
#1 Year
yearly_summary = pd.DataFrame()

yearly_summary['open'] = df.groupby('symbol')["open"].resample("AS").first().ffill()
yearly_summary['high'] = df.groupby('symbol')["high"].resample("AS").max().ffill()
yearly_summary['low'] = df.groupby('symbol')["low"].resample("AS").min().ffill()
yearly_summary['close'] = df.groupby('symbol')["close"].resample("AS").last().ffill()

yearly_summary["interval"] = df.ix[4, 'interval'] = '1Y'

# yearly_summary.head()
yearly_summary.to_sql('yearly_summary', engine, if_exists='replace')